.wrapper__container {
       background-color: #eef7ff;
       min-height: 94vh;
       border-radius: 0 5px 5px 0;
       position: relative;
}


.header__content {
       display:flex;
       align-items: center;
       height: 70px;
       background-color: white;
       -moz-box-shadow: 0 4px 4px rgba(82, 77, 77, 0.4);
       -webkit-box-shadow: 0 4px 4px rgba(180, 171, 171, 0.4);
       box-shadow: 0 4px 4px rgba(122, 113, 113, 0.4);
       border-radius: 0 5px 0 0 ;

       .header__side {
              flex: 1;
       }

       p {
              padding: 0;
              margin: 0;
              font-weight: bolder; 
              font-size: 18px;
       }

       
       .info__rooms {
              margin-left: 10px;

              span {
                     font-size: 13px;
                     color: #2f2a2a;
              }
       }
}


.content__chats {
       padding: 30px 20px;
       overflow: auto;
       max-height:80vh;

       &::-webkit-scrollbar {
              width: 3px;
       }
       
       &::-webkit-scrollbar-thumb {
              border-radius: 50px;
              background: #888; 
       }

}

.profile__users {
       display: flex;
       justify-content: center;
       flex-direction: initial;
       text-align: center;
       margin: 10px 0 20px 0;

       img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
       }

       p {
              margin: 0;
              font-weight: 500;
       }

       span {
              font-size:14px;
              color: hsl(0deg 0% 64%);
       }
}

.my__sended {
       .title__send {
              display:flex;
              align-items:center;
              justify-content:flex-end;

              span {
                     font-size: 13px;
                     padding-bottom: 4px;
                     color: #9ba19f;

                     svg {
                            font-size: 20px;
                     }
              }
       }

       .reply__sended {
              display:flex;
              align-items:center;
              justify-content:flex-end;

              .tabs__content {
                     max-width: 40%;
                     padding: 5px 10px 25px 10px;
                     background-color: #e5e5e5;
                     border-radius: 20px;
              }
       }

       .mess__current {
              position: relative;
              top: -23px;
              display:flex;
              align-items:center;
              flex-direction: row-reverse;
       }

       .item__content {
              overflow-wrap: break-word;
              padding: 5px 10px;
              border-radius: 20px;
              background-color: #5060e5;
              color: white;
              margin-bottom:4px;
       }

       .icons__reply {
              visibility: hidden;
              margin-right: 24px;
              button:hover {
                     background-color: rgba(0, 0, 0, 0.2);
              }
       }

       &:hover {
              .icons__reply {
                     visibility: visible;
              }
       }
}

.my__recieved {

       .title__recieve {
              display:flex;
              align-items:center;
              justify-content:flex-start;

              span {
                     font-size: 13px;
                     padding-bottom: 4px;
                     color: #9ba19f;

                     svg {
                            font-size: 20px;
                     }
              }
       }

       .reply__sended {
              display:flex;
              align-items:center;
              justify-content:flex-start;

              .tabs__content {
                     max-width: 40%;
                     padding: 5px 10px 25px 10px;
                     background-color: #e5e5e5;
                     border-radius: 20px;
              }
       }

       .mess__current {
              position: relative;
              top: -23px;
              display:flex;
              align-items:center;
              justify-content:flex-start;
       }

       .item__content {
              overflow-wrap: break-word;
              padding: 5px 10px;
              border-radius: 20px;
              background-color: #c4dedf;
              margin-bottom:4px;
       }
       
       .icons__reply {
              visibility: hidden;
              margin-left: 24px;
              button:hover {
                     background-color: rgba(0, 0, 0, 0.2);
              }
       }

       &:hover {
              .icons__reply {
                     visibility: visible;
              }
       }
}

.chats__input {
       position: absolute;
       min-width: 100%;
       padding-bottom: 16px;
       bottom: 0;
   
}
